html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #151515;
}

* {
    font-family: Poppins;
    scroll-behavior: smooth;
}


iframe {
    width: 560px;
    height: 315px;
}

#start-section {
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    display: flex;
    padding: 18px;
    background-image: url(assets/bg-1.png);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}
footer {
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #282828;
    padding-top: 12px;
    padding-bottom: 12px;
}

footer p {
    text-align: center;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
    gap: 12px;
    list-style: none;
}

header ul a {
    color: white;
    text-decoration: none;
}

#start-section-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
}

#start-section-info div {
    max-width: 700px;
}

h1 {
    font-size: 50px;
    color: white;
    margin: 0;
}

#start-section-info p {
    color: #B8B8B8;
    font-size: 30px;
    margin: 0;
    margin-bottom: 12px;
}

#start-section-info img {
    width: 30%;
    height: auto;

}


button {
    font-weight: medium;
    color: white;
    background-color: #2BC728;
    border: 0;
    border-radius: 12px;
    padding: 8px;
    font-size: 18px;
    width: 40%;
}

#usp {
    position: absolute;
    bottom: 24px;
    left: 24px;
}

.detail {
}

.section-item {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    padding: 40px;
}

.section-item h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}


.div-grid {
    
    display: grid;

    place-items: center;
    
 }

#ibmpc{
    color: rgb(237, 255, 121);
    font-style: bold;
}

 .section-item .div-grid h2 {

    
    background-color: #2BC728;
    height: 16px;
    bottom: 10px;
    width: auto;
}

 

.section-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 40px;
    gap: 40px;
}

.section-info div {
    flex: 1;
}

.section-info h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.section-info p {
    color: #B7B7B7;
    font-size: 20px;
}

.section-info img {
    border-radius: 24px;
    width: 450px;
}

.section-item-title {
    position: relative;
    width: fit-content;
}

.section-item-title div {
    position: absolute;
    background-color: #2BC728;
    height: 16px;
    bottom: 10px;
    width: 100%;
}
.section-item-title .div-grid {
    position: absolute;
    background-color: #2BC728;
    height: 16px;
    bottom: 10px;
    width: 100%;
}

.section-item-title h2 {
    z-index: 6;
    position: relative;
}

.section-item-sub {
    font-weight: 600;
    color: white;
    font-size: 21px;
    margin: 0;
}

.reverse-section-info {
    flex-direction: row-reverse;
}

hr {
    width: 100%;
}

p a   {
    color: white;
    font-weight: bold;
}

.section-centralize {
    align-items: center;
}

#menu {
    color: white;
    font-size: 40px;
    display: none;
}

#menu-open {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #151515;
}

#menu-open ul {
    list-style: none;
}

#menu-open li {
    padding-top: 22px;
    padding-bottom: 22px;
}

#menu-open li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}

#close {
    color: white;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 30px;
}

@media screen and (max-width: 728px) {
    header ul {
        display: none;
    }

    #start-section div img {
        width: 200px;
        margin-bottom: 12px;
    }

    #usp {
        display: none;
    }

    #start-section div {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    #start-section p {
        font-size: 24px;
        text-align: center;
    }

    #start-section-info {
        padding: 0;
        flex-direction: column-reverse !important;
    }

    #start-section button {
        width: unset;
        padding-left: 24px;
        padding-right: 24px;
    }

    .section-item {
        padding: 20px;
        width: calc(100% - 40px);
    }

    .section-item h2 {
        font-size: 24px;
    }

    .section-item-title div {
        display: none;
    }


    .section-item-sub {
        font-size: 14px;
        color: #B7B7B7;
    }

    .section-info {
        align-items: center;
        flex-direction: column-reverse;
    }

    .section-info img {
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    #menu {
        display: block;
    }
}

/* Timeline */

.timeline-carousel {
    padding: 0 6.9444% 90px 6.9444%;
    position: relative;
    overflow: hidden;
}

.timeline-carousel:after {
    left: 0;
}
.timeline-carousel:before {
    right: 0;
    opacity: 0;
}
.timeline-carousel .slick-list {
    overflow: visible;
}
.timeline-carousel .slick-dots {
    bottom: -73px;
}
.timeline-carousel h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 46px;
    line-height: 50pd;
    margin-bottom: 40px;
    font-weight: 900;
}
.timeline-carousel__image {
    padding-right: 30px;
}
.timeline-carousel__item {
    cursor: pointer;
}
.timeline-carousel__item .media-wrapper {
    opacity: 0.4;
    padding-bottom: 71.4%;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item:last-child .timeline-carousel__item-inner:after {
    width: calc(100% - 30px);
}
.timeline-carousel__item-inner {
    position: relative;
    padding-top: 45px;
}
.timeline-carousel__item-inner:after {
    position: absolute;
    width: 100%;
    top: 45px;
    left: 0;
    content: "";
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.timeline-carousel__item-inner .year {
    font-size: 36px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    display: table;
    letter-spacing: -1px;
    padding-right: 10px;
    background-color: #151515;
    z-index: 1;
    position: relative;
    margin: -15px 0 20px;
    font-weight: 900;
}
.timeline-carousel__item-inner .year:after {
    content: "";
    position: absolute;
    display: block;
    left: -10px;
    top: 0;
    height: 100%;
    width: 10px;
    background-color: #151515;
    z-index: 3;
}
.timeline-carousel__item-inner .month {
    font-size: 16px;
    text-transform: uppercase;
    color: #2bc728;
    display: block;
    margin-bottom: 10px;
    font-weight: 900;
}
.timeline-carousel__item-inner p {
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    width: 60%;
    font-weight: 400;
    margin-bottom: 15px;
}
.timeline-carousel__item-inner .read-more {
    font-size: 12px;
    color: #2bc728;
    display: table;
    margin-bottom: 10px;
    font-weight: 900;
    text-decoration: none;
    position: relative;
}
.timeline-carousel__item-inner .read-more:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 0;
    border-bottom: 2px solid #2bc728;
    -webkit-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.timeline-carousel__item-inner .read-more:hover:after {
    width: 100%;
}
.timeline-carousel__item-inner .pointer {
    height: 29px;
    position: relative;
    z-index: 1;
    margin: -4px 0 16px;
}
.timeline-carousel__item-inner .pointer:after, .timeline-carousel__item-inner .pointer:before {
    position: absolute;
    content: "";
}
.timeline-carousel__item-inner .pointer:after {
    width: 9px;
    height: 9px;
    border-radius: 100%;
    top: 0;
    left: 0;
    background-color: #2bc728;
}
.timeline-carousel__item-inner .pointer:before {
    width: 1px;
    height: 100%;
    top: 0;
    left: 4px;
    background-color: #2bc728;
}
.timeline-carousel .slick-active .media-wrapper {
    opacity: 1 !important;
}
.slick-dots {
    bottom: 60px;
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 2;
}
.slick-dots li {
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    position: relative;
    width: 10px;
    height: 10px;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li.slick-active button {
    background: #2bc728;
    border-color: #2bc728;
}
.slick-dots li button {
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -o-transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.slick-dots li button:hover {
    background: #2bc728;
    border-color: #2bc728;
}
.link {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    z-index: 9999;
}
.link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}
.link .fa {
    font-size: 28px;
    margin-right: 8px;
    color: #fff;
}